fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
psycopg2-binary
python-dotenv
pydantic-settings
passlib==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
email-validator
celery
loguru
orjson
httpx
Pillow
python-slugify
phonenumbers
redis[hiredis]>=5.0.1
aiosmtplib>=3.0.1
jinja2>=3.1.4